<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vatlythuvi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VatLyThuVi">
        <activity android:name=".StartActivity"/>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".c1.ltc1" />
        <activity android:name=".c2.ltc2" />
        <activity android:name=".c3.ltc3" />
        <activity android:name=".c4.ltc4" />
        <activity android:name=".c5.ltc5" />
        <activity android:name=".c6.ltc6" />
        <activity android:name=".c7.ltc7" />
        <activity android:name=".c1.b1"
            android:parentActivityName=".c1.ltc1"/>
        <activity android:name=".c1.b2"
            android:parentActivityName=".c1.ltc1"/>
        <activity android:name=".c1.b3"
            android:parentActivityName=".c1.ltc1"/>
        <activity android:name=".c1.b4"
            android:parentActivityName=".c1.ltc1"/>
        <activity android:name=".c1.b5"
            android:parentActivityName=".c1.ltc1"/>
        <activity android:name=".c1.b6"
            android:parentActivityName=".c1.ltc1"/>
        <activity android:name=".c1.b7"
            android:parentActivityName=".c1.ltc1"/>
        <activity android:name=".c2.b1"
            android:parentActivityName=".c2.ltc2"/>
        <activity android:name=".c2.b2"
            android:parentActivityName=".c2.ltc2"/>
        <activity android:name=".c2.b3"
            android:parentActivityName=".c2.ltc2"/>
        <activity android:name=".c2.b4"
            android:parentActivityName=".c2.ltc2"/>
        <activity android:name=".c2.b5"
            android:parentActivityName=".c2.ltc2"/>
        <activity android:name=".c2.b6"
            android:parentActivityName=".c2.ltc2"/>
        <activity android:name=".c2.b7"
            android:parentActivityName=".c2.ltc2"/>
        <activity android:name=".c3.b1"
            android:parentActivityName=".c3.ltc3"/>
        <activity android:name=".c3.b2"
            android:parentActivityName=".c3.ltc3"/>
        <activity android:name=".c3.b3"
            android:parentActivityName=".c3.ltc3"/>
        <activity android:name=".c3.b4"
            android:parentActivityName=".c3.ltc3"/>
        <activity android:name=".c3.b5"
            android:parentActivityName=".c3.ltc3"/>
        <activity android:name=".c3.b6"
            android:parentActivityName=".c3.ltc3"/>
        <activity android:name=".c4.b1"
            android:parentActivityName=".c4.ltc4"/>
        <activity android:name=".c4.b2"
            android:parentActivityName=".c4.ltc4"/>
        <activity android:name=".c4.b3"
            android:parentActivityName=".c4.ltc4"/>
        <activity android:name=".c4.b4"
            android:parentActivityName=".c4.ltc4"/>
        <activity android:name=".c4.b5"
            android:parentActivityName=".c4.ltc4"/>
        <activity android:name=".c5.b1"
            android:parentActivityName=".c5.ltc5"/>
        <activity android:name=".c5.b2"
            android:parentActivityName=".c5.ltc5"/>
        <activity android:name=".c5.b3"
            android:parentActivityName=".c5.ltc5"/>
        <activity android:name=".c5.b4"
            android:parentActivityName=".c5.ltc5"/>
        <activity android:name=".c6.b1"
            android:parentActivityName=".c6.ltc6"/>
        <activity android:name=".c6.b2"
            android:parentActivityName=".c6.ltc6"/>
        <activity android:name=".c7.b1"
            android:parentActivityName=".c7.ltc7"/>
        <activity android:name=".c7.b2"
            android:parentActivityName=".c7.ltc7"/>
        <activity android:name=".c7.b3"
            android:parentActivityName=".c7.ltc7"/>
        <activity android:name=".c7.b4"
            android:parentActivityName=".c7.ltc7"/>
        <activity android:name=".c7.b5"
            android:parentActivityName=".c7.ltc7"/>
        <activity android:name=".c7.b6"
            android:parentActivityName=".c7.ltc7"/>
        <activity android:name=".Baitap.Chuyende1.Chude3.ActivityChuyende1_Chude3_Dang3" />
        <activity android:name=".Baitap.Chuyende1.Chude3.ActivityChuyende1_Chude3_Dang2" />
        <activity android:name=".Baitap.Chuyende1.Chude3.ActivityChuyende1_Chude3_Dang1" />
        <activity android:name=".Baitap.Chuyende1.Chude2.ActivityChuyende1_Chude2_Dang3" />
        <activity android:name=".Baitap.Chuyende1.Chude2.ActivityChuyende1_Chude2_Dang2" />
        <activity android:name=".Baitap.Chuyende1.Chude2.ActivityChuyende1_Chude2_Dang1" />
        <activity android:name=".Baitap.Chuyende1.Chude1.ActivityChuyende1_Chude1_Dang3" />
        <activity android:name=".Baitap.Chuyende1.Chude1.ActivityChuyende1_Chude1_Dang2" />
        <activity android:name=".Baitap.Chuyende1.Chude1.ActivityChuyende1_Chude1_Dang1" />
        <activity android:name=".Baitap.Chuyende1.Chude3.ActivityChuyende1_Chude3" />
        <activity android:name=".Baitap.Chuyende1.Chude2.ActivityChuyende1_Chude2" />
        <activity android:name=".Baitap.Chuyende1.Chude1.ActivityChuyende1_Chude1" />
        <activity android:name=".Baitap.Chuyende6.Chude1.ActivityChuyende6_Chude1_Dang5" />
        <activity android:name=".Baitap.Chuyende6.Chude1.ActivityChuyende6_Chude1_Dang4" />
        <activity android:name=".Baitap.Chuyende6.Chude1.ActivityChuyende6_Chude1_Dang3" />
        <activity android:name=".Baitap.Chuyende6.Chude1.ActivityChuyende6_Chude1_Dang2" />
        <activity android:name=".Baitap.Chuyende6.Chude1.ActivityChuyende6_Chude1_Dang1" />
        <activity android:name=".Baitap.Chuyende5.Chude1.ActivityChuyende5_Chude1_Dang3" />
        <activity android:name=".Baitap.Chuyende5.Chude1.ActivityChuyende5_Chude1_Dang2" />
        <activity android:name=".Baitap.Chuyende5.Chude1.ActivityChuyende5_Chude1_Dang1" />
        <activity android:name=".Baitap.Chuyende4.Chude1.ActivityChuyende4_Chude1_Dang6" />
        <activity android:name=".Baitap.Chuyende4.Chude1.ActivityChuyende4_Chude1_Dang5" />
        <activity android:name=".Baitap.Chuyende4.Chude1.ActivityChuyende4_Chude1_Dang4" />
        <activity android:name=".Baitap.Chuyende4.Chude1.ActivityChuyende4_Chude1_Dang3" />
        <activity android:name=".Baitap.Chuyende4.Chude1.ActivityChuyende4_Chude1_Dang2" />
        <activity android:name=".Baitap.Chuyende4.Chude1.ActivityChuyende4_Chude1_Dang1" />
        <activity android:name=".Baitap.Chuyende3.Chude1.ActivityChuyende3_Chude1_Dang5" />
        <activity android:name=".Baitap.Chuyende3.Chude1.ActivityChuyende3_Chude1_Dang4" />
        <activity android:name=".Baitap.Chuyende3.Chude1.ActivityChuyende3_Chude1_Dang3" />
        <activity android:name=".Baitap.Chuyende3.Chude1.ActivityChuyende3_Chude1_Dang2" />
        <activity android:name=".Baitap.Chuyende3.Chude1.ActivityChuyende3_Chude1_Dang1" />
        <activity android:name=".Baitap.Chuyende2.Chude7.ActivityChuyende2_Chude7_Dang3" />
        <activity android:name=".Baitap.Chuyende2.Chude7.ActivityChuyende2_Chude7_Dang2" />
        <activity android:name=".Baitap.Chuyende2.Chude7.ActivityChuyende2_Chude7_Dang1" />
        <activity android:name=".Baitap.Chuyende2.Chude6.ActivityChuyende2_Chude6_Dang4" />
        <activity android:name=".Baitap.Chuyende2.Chude6.ActivityChuyende2_Chude6_Dang3" />
        <activity android:name=".Baitap.Chuyende2.Chude6.ActivityChuyende2_Chude6_Dang2" />
        <activity android:name=".Baitap.Chuyende2.Chude6.ActivityChuyende2_Chude6_Dang1" />
        <activity android:name=".Baitap.Chuyende2.Chude5.ActivityChuyende2_Chude5_Dang2" />
        <activity android:name=".Baitap.Chuyende2.Chude5.ActivityChuyende2_Chude5_Dang1" />
        <activity android:name=".Baitap.Chuyende2.Chude4.ActivityChuyende2_Chude4_Dang1" />
        <activity android:name=".Baitap.Chuyende2.Chude3.ActivityChuyende2_Chude3_Dang2" />
        <activity android:name=".Baitap.Chuyende2.Chude3.ActivityChuyende2_Chude3_Dang1" />
        <activity android:name=".Baitap.Chuyende2.Chude2.ActivityChuyende2_Chude2_Dang2" />
        <activity android:name=".Baitap.Chuyende2.Chude2.ActivityChuyende2_Chude2_Dang1" />
        <activity android:name=".Baitap.Chuyende2.Chude1.ActivityChuyende2_Chude1_Dang1" />
        <activity android:name=".Baitap.Chuyende2.Chude7.ActivityChuyende2_Chude7" />
        <activity android:name=".Baitap.Chuyende2.Chude6.ActivityChuyende2_Chude6" />
        <activity android:name=".Baitap.Chuyende2.Chude5.ActivityChuyende2_Chude5" />
        <activity android:name=".Baitap.Chuyende2.Chude4.ActivityChuyende2_Chude4" />
        <activity android:name=".Baitap.Chuyende2.Chude3.ActivityChuyende2_Chude3" />
        <activity android:name=".Baitap.Chuyende2.Chude2.ActivityChuyende2_Chude2" />
        <activity android:name=".Baitap.Chuyende2.Chude1.ActivityChuyende2_Chude1" />
        <activity android:name=".Baitap.Chuyende1.Chude5.ActivityChuyende1_Chude5_Dang1" />
        <activity android:name=".Baitap.Chuyende1.Chude4.ActivityChuyende1_Chude4_Dang1" />
        <activity android:name=".Baitap.Chuyende1.Chude5.ActivityChuyende1_Chude5" />
        <activity android:name=".Baitap.Chuyende1.Chude4.ActivityChuyende1_Chude4" />
        <activity android:name=".Baitap.Chuyende6.ActivityChuyende6" />
        <activity android:name=".Baitap.Chuyende5.ActivityChuyende5" />
        <activity android:name=".Baitap.Chuyende4.ActivityChuyende4" />
        <activity android:name=".Baitap.Chuyende3.ActivityChuyende3" />
        <activity android:name=".Baitap.Chuyende2.ActivityChuyende2" />
        <activity android:name=".Baitap.Chuyende1.ActivityChuyende1" />
        <activity android:name=".video.video1" />
        <activity android:name=".video.video2" />
        <activity android:name=".video.video3" />
        <activity android:name=".video.video4" />
        <activity android:name=".video.video5" />
        <activity android:name=".video.video6" />
        <activity android:name=".video.video7" />
        <activity android:name=".video.video8" />
        <activity android:name=".video.video9" />
        <activity android:name=".video.video10" />
        <activity android:name=".video.video11" />
        <activity android:name=".video.video12" />
    </application>

</manifest>